<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-offset-1 col-10">
                <p-table #dt [value]="usersForSearch" [(selection)]="selectedUsers" dataKey="id"
                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">

                    <ng-template pTemplate="caption">
                        <div class="grid align-items-center justify-content-between">
                            <div class="col-12">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="search" placeholder="Search..."
                                        (input)="onSearchUsers($event)" />
                                </span>
                            </div>
                            <div class="col-12">
                                <span>
                                    <button pButton pRipple label="เพิ่มผู้ใช้" icon="pi pi-plus" class="p-button-success mr-2"
                                        (click)="openNew()"></button>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name"> รายชื่อร้านค้า </th>
                            <th pSortableColumn="username"> ชื่อผู้ใช้ </th>
                            <th pSortableColumn="rolename"> ตำแหน่ง </th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr class="p-selectable-row">

                            <td>
                                {{user.company.name}}
                            </td>
                            <td>
                                {{user.username}}
                            </td>
                            <td>
                                {{user.role.name}}
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="edit(user)"></button>

                            </td>


                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No products found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="รายละเอียดร้านค้า" [modal]="true"
                    styleClass="p-fluid">
                    <ng-template pTemplate="content">

                        <div class="field">
                            <label for="barcode">Username</label>
                            <input type="text" pInputText id="user" *ngIf="user" [(ngModel)]="user.username"
                                [disabled]="isClickFromEdit" required autofocus />
                        </div>
                        <div class="field">
                            <label for="barcode">Password</label>
                            <input type="text" pInputText id="user" *ngIf="user" [(ngModel)]="user.password" required
                                autofocus />

                        </div>
                        <div class="field">
                            <label for="barcode">Name</label>
                            <input type="text" pInputText id="user" *ngIf="user" [(ngModel)]="user.name" required
                                autofocus />
                        </div>
                        <div class="field">
                            <label for="barcode">RoleId[ 1 = admin 2 = mamager 3 = user ]</label>
                            <input type="text" pInputText id="user" [(ngModel)]="user.role && user.role.name"
                                [disabled]="isClickFromEdit" required autofocus />
                        </div>
                        <div class="field">
                            <label for="barcode">CompanyId</label>
                            <input type="text" pInputText id="user" [(ngModel)]="user.company && user.company.name"
                                [disabled]="isClickFromEdit" required autofocus />
                        </div>

                    </ng-template>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="ยกเลิก" icon="pi pi-times" class="p-button-text"
                            (click)="hideDialog()"></button>
                        <button pButton pRipple label="ตกลง" icon="pi pi-check" class="p-button-text"
                            (click)="save()"></button>
                    </ng-template>
                </p-dialog>
            </div>
        </div>
    </div>
</div>