<div class="grid text-center">
    <div class="col-4"> <button pButton pRipple type="button" label="Report" [routerLink]="['/dashboard']"></button> </div>
    <div class="col-4"> <button pButton pRipple type="button" label="Store" [routerLink]="['/store']"></button> </div>
    <!-- <div class="col-4"> <a pButton pRipple type="button" label="Camera" href="/assets/scan.html"></a> </div> -->
    <div class="col-4"> <a pButton pRipple type="button" label="Camera" [routerLink]="['/camera']"></a> </div>
</div>