<p>linenotify works!</p>
<br>
<br>
<p class="font-bold mr-5 text-green-500 w-2">ช่องใส่ LINE Token</p>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="token"> 
    <label for="float-input" >กรุณาใส่ LINE Token</label>  
</span>
<br>
<!-- <button pButton pRipple type="button"  class="p-button-rounded" (click)="addtoken()"></button> -->
<button pButton pRipple type="button" label="ตกลง" class="p-button-rounded p-button-success" (click)="addtoken()" ></button>
<br><br><br>
<p-image src="https://gcms.in.th/datas/users/www/image/1498228184.png" alt="Image" width="250" [preview]="true"></p-image>
<br>
<br>
<br>
<br>
<div id="footer" align-items-stretch>
    <app-button></app-button>
</div>
