<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">ยอดขายรวม</span>
          <div class="text-900 text-green-600 font-medium text-xl">{{totalSum}} บาท</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-money-bill text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium"></span>
      <span class="text-500"></span>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card mb-0">
      <div class="flex justify-content-center mb-3">
        <div class="col-12 md:col-4">
          <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '100%'}"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-table #dt [value]="reportsForSearch" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center" style="justify-content: space-between;">

            <div class="col-12 lg:flex">
              <div class="lg:col-9 col-12">
                <span class="p-input-icon-left" style="order: 1;">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" placeholder="Search..." (input)="onSearchProduct($event)"
                    style="width:100%;" />
                </span>
              </div>
              <div class="col-12 lg:col-3 flex">
                <!-- <div class="flex row text-right col-12" style="order: 3; width:100%;"> -->
                <div class="lg:col-10 col-9">
                  <!-- <div class="flex row text-right" style="order: 3; width:100%;"> -->
                  <p-calendar class="block" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                    inputId="range">
                  </p-calendar>
                  <!-- </div> -->
                </div>
                <div class="lg:col-2 col-3">
                  <div class="flex row text-right" style="order: 3; width:100%;">
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success mr-2 col-1"
                      style="margin-left: 10px;" (click)="selecttable()"></button>
                  </div>
                </div>
                <!-- </div> -->
              </div>
            </div>

          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              รูป <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              ชื่อสินค้า <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="barcode">
              ราคาขายสินค้า <p-sortIcon field="barcode"></p-sortIcon>
            </th>
            <th pSortableColumn="barcode">
              จำนวนที่ขายได้ <p-sortIcon field="barcode"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">
              ราคาต้นทุนสินค้าต่อชิ้น <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              รายได้ทั้งหมด <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              รายได้รวมสุทธิ <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr class="p-selectable-row">
            <td>
              <span class="p-column-title">รูป</span>
              <img src="{{ product.img }}" width="130px" alt="">
            </td>
            <td>
              <span class="p-column-title">ชื่อสินค้า</span>
              <span class="image-text">{{ product.name }}</span>
            </td>
            <td>
              <span class="p-column-title">ราคาขายสินค้า</span>
              {{ product.totalSold }} บาท
            </td>
            <td>
              <span class="p-column-title"></span>
              {{ product.quantity }} ชิ้น
            </td>
            <td>
              <span class="p-column-title">ราคาต้นทุนต่อชิ้น</span>
              {{ product.costPerPiece }} บาท
            </td>
            <td>
              <span class="p-column-title">รายได้ทั้งหมด</span>
              {{ product.total}} บาท
            </td>
            <td>
              <span class="p-column-title">รายได้รวมสุทธิ</span>
              {{ product.total-(product.quantity*product.costPerPiece) }} บาท
            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No products found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>